.idea/
*.iml
*.iws
*env/
*.coverage
*._pycache_/
*coverage_html
*linux.json
*windows.json
__pycache__/JsonEdit.cpython-36.pyc
__pycache__/JsonEdit.cpython-37.pyc
__pycache__/oSCommands.cpython-36.pyc
